NODE_ENV=development
API_PORT=4000
API_HOST=0.0.0.0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lasmarias
POSTGRES_USER=lasmarias
POSTGRES_PASSWORD=lasmarias_dev

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=cambiar-en-prod
JWT_REFRESH_SECRET=cambiar-en-prod-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

CORS_ORIGIN=http://localhost:3000
